# MPLAB

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug

firmware/unilcd-pic16.X/html/
firmware/unilcd-pic16.X/nbproject/private/
firmware/unilcd-pic16.X/nbproject/Package-*.bash
firmware/unilcd-pic16.X/build/
firmware/unilcd-pic16.X/nbbuild/
firmware/unilcd-pic16.X/dist/
firmware/unilcd-pic16.X/nbdist/
firmware/unilcd-pic16.X/nbactions.xml
firmware/unilcd-pic16.X/nb-configuration.xml
firmware/unilcd-pic16.X/funclist
firmware/unilcd-pic16.X/nbproject/Makefile-*
firmware/unilcd-pic16.X/disassembly/
firmware/unilcd-pic16.X/.generated_files/
